@model CaronasMVCWebApp.Models.Member

<h2>@ViewBag.Title</h2>

@if (TempData["ErrorMessage"] != null)
{

    <div class="alert alert-danger" role="alert">
        @TempData["ErrorMessage"]
    </div>
}
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                @if (ViewBag.Action == "Details" || ViewBag.Action == "Delete")
                {
                    <input asp-for="Name" class="form-control" disabled />
                }
                else
                {
                    <input asp-for="Name" class="form-control" />
                }
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                @if (ViewBag.Action == "Details" || ViewBag.Action == "Delete")
                {
                    <input asp-for="Email" class="form-control" disabled />
                }
                else
                {
                    <input asp-for="Email" class="form-control" />
                }
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                @if (ViewBag.Action == "Details" || ViewBag.Action == "Delete")
                {
                    <input asp-for="Phone" class="form-control" disabled />
                }
                else
                {
                    <input asp-for="Phone" class="form-control" />
                }
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a asp-action="Index" data-toggle="tooltip" data-placement="bottom" title="Voltar" class="btn btn-default">
                    <i class="glyphicon glyphicon-arrow-left">
                    </i>
                    <strong>  Voltar</strong>
                </a>
                @if (ViewBag.Action == "Delete")
                {
                    <button type="submit" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger" data-toggle="tooltip" data-placement="bottom" title="Salvar">
                        <i class="glyphicon glyphicon-trash">
                        </i>
                        <strong>  Deletar?</strong>
                    </button>
                }
                @if (ViewBag.Action == "Edit" || ViewBag.Action == "Create")
                {
                    <button type="submit" asp-action="@ViewBag.Action" asp-route-id="@Model.Id" class="btn btn-success" data-toggle="tooltip" data-placement="bottom" title="Salvar">
                        <i class="glyphicon glyphicon-floppy-disk">
                        </i>
                        <strong>  Salvar</strong>
                    </button>
                }
                @if (ViewBag.Action == "Details")
                {
                    <a asp-action="Edit" data-toggle="tooltip" data-placement="bottom" title="Alterar dados" class="btn btn-default glyphicon glyphicon-pencil" asp-route-id="@Model.Id"></a>
                    <a asp-action="Delete" data-toggle="tooltip" data-placement="bottom" title="Excluir participante" class="btn btn-danger glyphicon glyphicon-trash" asp-route-id="@Model.Id"></a>
                }

            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
