@using System.Globalization
@using CaronasMVCWebApp.Models.Enums
@using X.PagedList.Mvc.Core;
@using X.PagedList;
@model X.PagedList.IPagedList<CaronasMVCWebApp.Models.ViewModels.MonthlyReportViewModel>

@{
    ViewData["Title"] = "Relatório sintético";

    var culture = new System.Globalization.CultureInfo("pt-BR");
    TextInfo mes = new CultureInfo("pt-BR", false).TextInfo;

}

@if (TempData["SuccessMessage"] != null)
{

    <div class="alert alert-success" role="alert">
        @TempData["SuccessMessage"]
    </div>
}
@if (TempData["ErrorMessage"] != null)
{

    <div class="alert alert-danger" role="alert">
        @TempData["ErrorMessage"]
    </div>
}
<div class="jumbotron">

    <h2>@ViewData["Title"]</h2>
    <hr />
    <br />

    @foreach (var item in Model)
    {

        <div class="panel">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">
                        <p>
                            @item.Period.ToString("yyyy") - @mes.ToTitleCase(culture.DateTimeFormat.GetMonthName(item.Period.Month))
                        </p>

                    </div>
                </div>

                <div class="panel-body">
                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <td class="text-left">
                                    <b>Nome</b>
                                </td>
                                <td class="text-right">
                                    <b>Balanço</b>
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var member in item.Members)
                            {
                                var alertClass = member.Value > 0 ? "success" : (member.Value == 0 ? "info" : "danger");
                                <tr class="@alertClass table-hover" s>
                                    <td class="text-@alertClass text-left">
                                        @{ 
                                            DateTime minDate = new DateTime(item.Period.Year, item.Period.Month, 1);
                                            DateTime maxDate = minDate.AddMonths(1).AddDays(-1);
                                        }
                                        <a asp-action="AnalyticalReport"
                                           asp-route-minDate="@minDate.ToString("yyyy-MM-dd")"
                                           asp-route-maxDate="@maxDate.ToString("yyyy-MM-dd")"
                                           asp-route-memberId="@member.Key.Id">@member.Key.Name</a>
                                    </td>
                                    <td class="text-@alertClass text-right">
                                        <b>@member.Value.ToString("F2", CultureInfo.CurrentCulture)</b>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                    <div class="panel-footer">
                        <table class="table-hover">
                            <thead>
                                <tr>
                                    <td>
                                        <b>Observações</b>
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (string observation in item.PaymentObservation)
                                {
                                    <tr>
                                        <td class="text-info" role="list">
                                            <b>@observation</b>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>

    }

    <div class="text-center">

        @Html.PagedListPager((IPagedList)Model, page => Url.Action("MonthlyReport", new { page }))
    </div>

</div>