@using System.Globalization
@using CaronasMVCWebApp.Models.Enums
@using X.PagedList.Mvc.Core;
@using X.PagedList;
@model X.PagedList.IPagedList<CaronasMVCWebApp.Models.ViewModels.MonthlyReportViewModel>

@{
    ViewData["Title"] = "Relatório sintético";

    var culture = new System.Globalization.CultureInfo("pt-BR");
    TextInfo mes = new CultureInfo("pt-BR", false).TextInfo;

}

@if (TempData["SuccessMessage"] != null)
{

    <div class="alert alert-success" role="alert">
        @TempData["SuccessMessage"]
    </div>
}
@if (TempData["ErrorMessage"] != null)
{

    <div class="alert alert-danger" role="alert">
        @TempData["ErrorMessage"]
    </div>
}
<h2>@ViewData["Title"]</h2>
<br />



@foreach (var item in Model)
{

    <div class="panel">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <p>
                        @item.Period.ToString("yyyy") - @mes.ToTitleCase(culture.DateTimeFormat.GetMonthName(item.Period.Month))
                    </p>

                </h4>
            </div>

            <div class="panel-body">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <td class="text-left">
                                Nome
                            </td>
                            <td class="text-right">
                                Balanço
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var member in item.Members)
                        {
                            var alertClass = member.Value > 0 ? "success" : (member.Value == 0 ? "info" : "danger");
                            <tr class="@alertClass">
                                <td class="text-@alertClass text-left">
                                    @member.Key.Name
                                </td>
                                <td class="text-@alertClass text-right">
                                    <b>@member.Value.ToString("F2", CultureInfo.CurrentCulture)</b>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="panel-footer">
                <table>
                    <thead>
                        <tr>
                            <td>
                                <b>Observações</b>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (string observation in item.PaymentObservation)
                        {
                            <tr>
                                <td class="text-info">
                                    @observation
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>

}

<div class="text-center">

    @Html.PagedListPager((IPagedList)Model, page => Url.Action("MonthlyReport",  new { page }))
</div>
