@using System.Globalization 
@using CaronasMVCWebApp.Models.Enums
@model IEnumerable<CaronasMVCWebApp.Models.ViewModels.TimelineViewModel>
@{
    ViewData["Title"] = "Timeline";
}

<h2>Timeline</h2>

@{
    var culture = new System.Globalization.CultureInfo("pt-BR");
    TextInfo diaDaSemana = new CultureInfo("pt-BR", false).TextInfo;
}

<ul class="timeline">
    @foreach (var item in Model)
    {
        var icon = item.Ride.RoundTrip == RoundTrip.RoundTrip ? "fa fa-sort" : "fa fa-arrow-up";
        var badge = item.Ride.Date.Day % 2 == 0 ? "timeline-badge primary" : "timeline-badge success";
        var liClass = item.Ride.Date.Day % 2 == 0 ? "timeline" : "timeline-inverted";
        <li class="@liClass">
            <div class="@badge"><i class="@icon"></i></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h5 class="timeline-title"> <i class="fa fa-calendar"></i> @item.Ride.Date.ToShortDateString() - @diaDaSemana.ToTitleCase(culture.DateTimeFormat.GetDayName(item.Ride.Date.DayOfWeek)) </h5>
                    <p><small class="text-muted"><i class="fa fa-info-circle"></i> @item.Destiny.Name</small></p>
                </div>
                <div class="timeline-body">
                    <p><i class="fa fa-car-side"></i><b> Motorista: </b> @item.Driver.Name</p>
                    <br />
                    <p><b>Passageiros:</b></p>
                    @foreach (var passenger in item.Passengers)
                            {
                        <p><i class="fa fa-user"></i> @passenger.Name</p>
                        }
                </div>
                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-cog"></i> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a asp-action="Edit" asp-route-id="@item.Ride.Id"><i class="fa fa-pencil-alt"></i> Editar</a></li>
                        <li><a asp-action="Delete" asp-route-id="@item.Ride.Id"><i class="fa fa-trash"></i> Deletar</a></li>
                        <li><a asp-action="Details" asp-route-id="@item.Ride.Id"><i class="fa fa-search"></i> Detalhes</a></li>
                    </ul>
                </div>
            </div>

        </li>
    }
</ul>